*{
  margin: 0;
  padding: 0;
}
h1{
  font-size: 80px;
  color: rgb(238, 246, 255);
  padding: 150px 40px 80px;
  text-align: center;
  font-family: "Playwrite GB S",cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}
.heading{
  height: 600px;
  width: 95%;
  margin: 35px auto;
  background-image:linear-gradient(45deg, black,transparent),url(../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: center;
}
.btn-parent{
  text-align: center;
  margin: 20px auto;

}
.button{
  padding: 10px 15px;
  border: none;
  background-color: aliceblue;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
}